[twitch]
username = your_username
token = your_auth_token
channel = your_channel

[overlay]
width = 380
height = 135
xpos = 0
ypos = 0
background = black
foreground = white
font_size = 10
opacity = 60
